# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b2bae79ebd737b0c09b5cd52db6e50df1a6eea4e77a45f80a291b55169e9b01d2fe0c9a299f50694ddc21fbbb71beca01ec35e9a5d6c16283730be17138275c8

test:
  secret_key_base: db6a8a28f4c13b3ca99556676ba54352b7ec2b617f5345657baa2906f9543f353035025f7da85a5610cf65b07c0d99194e86f7b2bb38ddda6ddeebf499bad63c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
